body {
	margin: 0;
}
.flex-container {
	display: -webkit-flex;
	display: flex;  
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	text-align: center;
}
.flex-container > * {
	padding: 15px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
}
header {
	height: 40px;
	width: 100vw;
	padding: 20px;
	background-color: black;
	color: white;
}
h1 {
	margin: 0;
}
article {
	height: calc(100vh - 150px);
	width: 100vw;
	background-color: #e6e6e6;
}
footer {
	height: 20px;
	width: 100vw;
	background-color: #aaa;
	color: white;
}
ul {
	text-align: left;
	list-style: none;
}
li {
	display: inline-block;
	width: 100%;
	margin-bottom: 1em;
}
.color-holder {
	float: left;
}
.color-holder:nth-child(even) {
	padding-right: 10px;
}
.color-holder:nth-child(odd) {
	padding-left: 10px;
}
li h1 {
	padding-bottom: 10px;
}
.color-holder span {
	display: block;
	height: 25px;
	width: 155px;
	background-color: #ddd;
}
.color-holder input {
	width: 151px;
}
.color-holder input,
.color-holder p {
	margin-top: 10px;
}